@model IEnumerable<OnlineJob.Models.Posting2>

@{
    ViewData["Title"] = "UserList2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>List Posting</h3>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.PostingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriesID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPhone)
            </th>
            




            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            

            <td>
                @Html.DisplayFor(modelItem => item.PostingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriesID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPhone)
            </td>
            
        </tr>
}
    </tbody>
</table>





