@model IEnumerable<OnlineJob.Models.CV>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>List CV</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CVID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVProfile)
            </th>
            
            <th>
                Delete
            </th>


            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CVID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVProfile)
            </td>
            
            
            <td>          
                @Html.ActionLink("Delete", "DeleteCV", new { @id = item. CVID}, new { @style = "color:aqua" })
            </td>

        </tr>
}
    </tbody>
</table>




